body {
  background-color: lightgray;
}

.mycontainer {
  background-color: white;
  font-family: Arial;
  font-weight: 500;
  box-shadow: 0px 0px 7px #000000;
  height: 250px;
  width: 300px;
  margin: auto;
  padding-top: 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.mtitle {
  display: flex;
  margin: 19px;
  flex-direction: row;
  justify-content: space-between;
}

.mysubmit {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  margin: 14px;
}
ul {
  list-style-type: none;
  margin: 15px;
  padding: 7px;
}
.submitbtn {
  color: white;
  background-color: blueviolet;
  padding: 4px;
}
.closebtn {
  color: blueviolet;
  padding: 4px;
}
#name {
  width: -webkit-fill-available;
  height: 28px;
  margin: 5px;
}
