* {
    box-sizing: border-box; 
    font-family: Arial;
   }
   #main { 
    padding: 50px;
    margin: 40px;
    border: 1px solid none;
    background-color:rgb(245, 245, 245);
    

   }
   #contact {
    font-size: 50px;
    margin:10px;
    
   }
   #feel {
    color:lightgray;
    font-size: 30px;
    
   }
            
   .myForm {
    font-weight: bold;
     display: flex;
     background-color: rgb(245, 245, 245);
     border: none;
     padding: 1.8em;
     margin: auto;
     width: 50%;
   }

   .message {
    display: flex;
    flex-direction: column;
    order: 2;
    height: 225px;
  }

  .message > textarea {
    flex: 1; 
    min-width: 18em;
   }
   .contact {
    flex: 1; 
    order: 1;
    margin-right: 2em; 
    }
    .contact input {
        width: 100%;
      }
      .contact input,
      .contact button {
        padding: 1em;
        margin-bottom: 1em;
      }
      .contact button {

       background: rgb(66, 139, 202);
       color: white;
       border: none;
       margin-left: auto;
       border-radius: 10%;
       padding-left: 10px;
       line-height: 30px;
        padding-right: 20px;
}
      
      .mysocial {
        display: inline-flex;
        text-align: center;
        justify-content: center;
        width: 100%;
        border-top: 1px solid lightgray;
        padding-top: 10px;
        color: blue;
        margin: center;
        gap: 13px;
        flex-direction: row;
      }