.mainpage {
    width: auto;
    margin-top: auto;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
    border: 1px solid none;
}
.mynav {
    color: lightgray;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    padding-left: 5px;
}
.myhome, .about, .mycontact, .mycompany, .myservices  {
    width: 150px;
    font-size: 25px;
    padding: 10px;
    background-color: rgb(34, 101, 169);
    margin-right: 5px;
    justify-content: baseline;
    text-decoration: none;
}
.mycontact {
    text-decoration: none;
}
.mytech {
    display: flex;
    align-content: space-around;
    justify-content: space-between;
    align-items: center;
}
h1 {
    margin-right: 7px;
    border-right: 1px solid black;
}
.corporate {
    font-size:29px;
    padding-right: 5px;
    border-right: 1px solid black;
}
.mybanner {
    list-style-type: none;
    background-color: rgb(189, 217, 254);
    height: 300px;

}
.whatistech {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: lightgray;
    background-color: rgb(34, 101, 169);
    height: 165px;
    width:250px;
    position:absolute;
    padding: 12px;
}
.techdef {
    font-size: 16px;
    margin-bottom: 3px;
    border-bottom: 3px dotted lightgray;
    padding-bottom: 11px;

}
.diagonalbanner {
    margin-left: 294px;
    margin-top: 83px;
    display: inline;
    border-radius: 20%;
    position: absolute;
    background-color: green;
    color: yellow;
    font-size: 80px;
    transform: rotate(-20deg);
    height: fit-content;
}
.todaytech {
    background-color: rgb(34, 101, 169);
    color: lightgray;
    display: flex;
    justify-content: right;
    border: 1px solid rgb(34, 101, 169);
    width: 400px;
    font-size: 40px;
    margin: -40px;
    margin-left: 300px;
}
.threecontainers {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
    padding: 13px;
    text-align: justify;
}
.containerA {
    background-color: lightgray;
    margin: 10px;
    font-size: 10px;

}
.containerB {
    background-color: lightgray;
    margin: 10px;
    font-size: 10px;

}
.containerC {
    background-color: lightgray;
    margin: 10px;
    font-size: 10px;

}
.tablesize1 {
    background-color: black;
    color: white;
    text-align: center;
    height: 90px;
    font-size: x-large;
    width: 200px;
    margin: 15px;
    border: 3px solid white;
    display: grid;

}
.tablesize2 {
    background-color: black;
    color: white;
    text-align: center;
    height: 90px;
    font-size: x-large;
    width: 200px;
    margin: 15px;
    border: 3px solid white;
    display: grid;
}
.tablesize3 {
    background-color: black;
    color: white;
    text-align: center;
    height: 90px;
    font-size: x-large;
    width: 200px;
    margin: 15px;
    border: 3px solid white;
    display: grid;
}
h1 {
    text-align: center;
    border-bottom: 2px dotted gray;
}

.myarticle {
    display: inline-flex;
    border-bottom: 2px solid gray;
    border-bottom-style: dashed;
}
.mybigbox {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 25px;
    margin: 0px;
    height: 113px;
    width: 157px;;
    border: 3px solid gray;
}
.philosophy {
    font-size: 9px;
    width: 380px;
    text-decoration: none;
    height: 46px;
    margin-left: 25px;
    margin-right: 25px;
}
.philosophytitle {
    text-align: center;
    font-size: 16px;
    border-bottom: 2px dotted gray;
    margin-top: 1px;

}
.categories {
    width: 100px;
    align-items: flex-end;
    font-size: 16px;
}
.aside {
    font-size: 15px;
    list-style-type: none;
    background-color: lightgray;
    padding-right: 40px;
    margin-left: 30px;
}
#fiveboxes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.boxA {
    border: 1px solid gray;
    background-color: black;
    color: white;
    width: 172px;
    height: 100px;
    margin-top: 13px;
    font-size: 25px;
    font-family: system-ui;
}
#rightsreserved {
    background-color: rgb(34, 101, 169);
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}
